
__pycache__/
*.py[cod]
*.pyo
*.pyd


.venv/
venv/
ENV/
env/


*.log
db.sqlite3
db.sqlite3-journal
media/


.env


htmlcov/
.coverage
.tox/
.pytest_cache/


.vscode/
.history/


.DS_Store
Thumbs.db


node_modules/
dist/
build/
